<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>GuardarMensajes</servlet-name>
        <servlet-class>com.teide.dam.planfinder.servlets.GuardarMensajesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaGrupoServlet</servlet-name>
        <servlet-class>com.teide.dam.planfinder.servlets.AltaGrupoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarUsuarioServlet</servlet-name>
        <servlet-class>com.teide.dam.planfinder.servlets.EditarUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarPosicionUsuarioServlet</servlet-name>
        <servlet-class>com.teide.dam.planfinder.servlets.ActualizarPosicionUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarGrupoServlet</servlet-name>
        <servlet-class>com.teide.dam.planfinder.servlets.EliminarGrupoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnviarMensajes</servlet-name>
        <servlet-class>com.teide.dam.planfinder.servlets.EnviarMensajes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarNombreGrupoServlet</servlet-name>
        <servlet-class>com.teide.dam.planfinder.servlets.BuscarNombreGrupoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DevolverSolicitudesPendientes</servlet-name>
        <servlet-class>com.teide.dam.planfinder.servlets.DevolverSolicitudesPendientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComprobarUsuario</servlet-name>
        <servlet-class>com.teide.dam.planfinder.servlets.ComprobarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarNombreTipo</servlet-name>
        <servlet-class>com.teide.dam.planfinder.servlets.BuscarNombreTipo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnviarSolicitud</servlet-name>
        <servlet-class>com.teide.dam.planfinder.servlets.EnviarSolicitud</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmarGrupoServlet</servlet-name>
        <servlet-class>com.teide.dam.planfinder.servlets.ConfirmarGrupoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DenegarGrupoServlet</servlet-name>
        <servlet-class>com.teide.dam.planfinder.servlets.DenegarGrupoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.teide.dam.planfinder.gcm.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendAllMessagesServlet</servlet-name>
        <servlet-class>com.teide.dam.planfinder.gcm.SendAllMessagesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComprobarSolicitud</servlet-name>
        <servlet-class>com.teide.dam.planfinder.servlets.ComprobarSolicitud</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertarUsuario</servlet-name>
        <servlet-class>com.teide.dam.planfinder.servlets.InsertarUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AltaGrupoServlet</servlet-name>
        <url-pattern>/altagrupo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarMensajes</servlet-name>
        <url-pattern>/guardarmensajes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarPosicionUsuarioServlet</servlet-name>
        <url-pattern>/actualizarposicionusuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarUsuarioServlet</servlet-name>
        <url-pattern>/editarusuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnviarMensajes</servlet-name>
        <url-pattern>/enviarmensajes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarNombreGrupoServlet</servlet-name>
        <url-pattern>/buscarnombregrupo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComprobarUsuario</servlet-name>
        <url-pattern>/comprobarusuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnviarSolicitud</servlet-name>
        <url-pattern>/enviarsolicitud</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarNombreTipo</servlet-name>
        <url-pattern>/buscarnombretipo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmarGrupoServlet</servlet-name>
        <url-pattern>/confirmargrupo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DenegarGrupoServlet</servlet-name>
        <url-pattern>/denegargrupo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DevolverSolicitudesPendientes</servlet-name>
        <url-pattern>/devolversolicitudespendientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarGrupoServlet</servlet-name>
        <url-pattern>/eliminargrupo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendAllMessagesServlet</servlet-name>
        <url-pattern>/sendallmessages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComprobarSolicitud</servlet-name>
        <url-pattern>/comprobarsolicitud</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertarUsuario</servlet-name>
        <url-pattern>/insertarusuario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
