<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>GuardarMensajes</servlet-name>
        <servlet-class>com.teide.dam.planfinder.servlets.GuardarMensajesServlet</servlet-class>
    </servlet>
        
    <servlet>
        <servlet-name>AltaGrupoServlet</servlet-name>
        <servlet-class>com.teide.dam.planfinder.servlets.AltaGrupoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertarUsuarioServlet</servlet-name>
        <servlet-class>com.teide.dam.planfinder.servlets.InsertarUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarUsuarioServlet</servlet-name>
        <servlet-class>com.teide.dam.planfinder.servlets.EditarUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarPosicionUsuarioServlet</servlet-name>
        <servlet-class>com.teide.dam.planfinder.servlets.ActualizarPosicionUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarGrupoServlet</servlet-name>
        <servlet-class>com.teide.dam.planfinder.servlets.EliminarGrupoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FechaServidor</servlet-name>
        <servlet-class>com.teide.dam.planfinder.servlets.FechaServidor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnviarMensajes</servlet-name>
        <servlet-class>com.teide.dam.planfinder.servlets.EnviarMensajes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarNombeGrupoServlet</servlet-name>
        <servlet-class>com.teide.dam.planfinder.servlets.BuscarNombeGrupoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertarUsuarioGrupo</servlet-name>
        <servlet-class>com.teide.dam.planfinder.servlets.InsertarUsuarioGrupo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DevolverSolicitudesPendientes</servlet-name>
        <servlet-class>com.teide.dam.planfinder.servlets.DevolverSolicitudesPendientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComprobarUsuario</servlet-name>
        <servlet-class>com.teide.dam.planfinder.servlets.ComprobarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarNombreTipo</servlet-name>
        <servlet-class>com.teide.dam.planfinder.servlets.BuscarNombreTipo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DevolverSolicitudesPendientes</servlet-name>
        <servlet-class>com.teide.dam.planfinder.servlets.DevolverSolicitudesPendientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnviarSolicitud</servlet-name>
        <servlet-class>com.teide.dam.planfinder.servlets.EnviarSolicitud</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>AltaGrupoServlet</servlet-name>
        <url-pattern>/altagrupo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarMensajes</servlet-name>
        <url-pattern>/guardarmensajes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarPosicionUsuarioServlet</servlet-name>
        <url-pattern>/actualizarposicionusuarioservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertarUsuarioServlet</servlet-name>
        <url-pattern>/insertarusuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarUsuarioServlet</servlet-name>
        <url-pattern>/editarusuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarGrupoServlet</servlet-name>
        <url-pattern>/eliminargrupo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FechaServidor</servlet-name>
        <url-pattern>/fechaservidor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnviarMensajes</servlet-name>
        <url-pattern>/enviarmensajes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarNombeGrupoServlet</servlet-name>
        <url-pattern>/buscarnombregrupo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertarUsuarioGrupo</servlet-name>
        <url-pattern>/insertarusuariogrupo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComprobarUsuario</servlet-name>
        <url-pattern>/comprobarusuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnviarSolicitud</servlet-name>
        <url-pattern>/enviarsolicitud</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarNombreTipo</servlet-name>
        <url-pattern>/buscarnombretipo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DevolverSolicitudesPendientes</servlet-name>
        <url-pattern>/devolversolicitudespendientes</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
